/* Header Section */
.header {
  width: 100vw;
  height: 6vh;
  padding: 0 1rem;
  background: var(--whiteColor);
}
/* Header Navbar */
.header-navbar {
  display: flex;
  height: 100%;
}
/* Navbar Logo */
.header-navbar-logo {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.logo-box {
  width: fit-content;
  display: flex;
  align-items: center;
}
.logo-icon {
  color: var(--brandColor);
  font-size: 2.5rem;
}
.logo-title {
  font-size: 1.5rem;
}
/* Navbar Search */
.header-navbar-search {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-field {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  background: #f6f7f8;
  border-radius: 3px;
}
.search-icon {
  height: 100%;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--SubTitleColor);
}
.search-input {
  border: none;
  background: none;
  height: 100%;
  width: 90%;
  outline: none;
}
/* Navbar Authentication */
.header-navbar-auth {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.auth-login,
.auth-signup {
  background: var(--iconColor);
  padding: 0.3rem 1.2rem;
  border-radius: 25px;
  cursor: pointer;
}
.auth-btn {
  color: var(--whiteColor);
  text-decoration: none;
}
.auth-logout {
  font-size: 1.3rem;
  cursor: pointer;
}
.logout-btn {
  color: var(--brandColor);
  text-decoration: none;
}
/* Main Section */
.main {
  padding-top: 2rem;
}
/* Top Trend Section */
.top-trending-container {
  height: 20vh;
  display: flex;
  justify-content: space-between;
}
.top-trending-card {
  cursor: pointer;
  border-radius: 8px;
  width: 23%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.top-trending-card-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 2;
}
.trending-card-transparent-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 100%
  );
  z-index: 15;
}
.trending-card-description {
  color: var(--whiteColor);
  position: absolute;
  z-index: 20;
  bottom: 0.5rem;
  height: 50%;
}
.trending-card-title {
  margin-bottom: 0.5rem;
}
/* Post Section */
.posts-box {
  display: flex;
  flex-direction: column;
}
.posts-container {
  width: 40%;
}
.post-card {
  padding: 0.3rem;
  width: 100%;
  min-height: 10rem;
  background: var(--whiteColor);
  margin: 3rem 0;
}
.post-header {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.post-header-title {
  width: 45%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.post-info-community-name {
  font-weight: 1rem;
  font-weight: 600;
  color: var(titleColor);
}
.post-info-owner-name,
.post-info-date {
  font-size: 0.9rem;
  font-weight: 300;
  color: var(titleColor);
}
.join-button {
  width: 10%;
  background: var(--iconColor);
  color: var(--whiteColor);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 25px;
  padding: 0.2rem;
  cursor: pointer;
}
.post-title {
  width: fit-content;
  max-width: 85%;
  color: #242424;
  margin-bottom: 2rem;
}
.logout-title {
  margin: 0 0.5rem;
  color: var(--titleColor);
}
.new-post-section {
  height: 6vh;
  display: flex;
  flex-direction: column;
}
.new-post-section-container {
  background: var(--whiteColor);
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  align-items: center;
}

.new-post-icon {
  color: var(--mainColor);
  width: 6%;
  font-size: 1.5rem;
}
.new-post-icon:hover {
  color: var(--brandColor);
  cursor: pointer;
}
.new-post-input {
  border: none;
  outline: none;
  background-color: rgba(179, 179, 179, 0.1);
  width: 70%;
  height: 100%;
  border-radius: 5px;
  padding: 0 1rem;
}
.new-post-modal.show,
.new-post-section.show{
  opacity: 1;
  pointer-events: auto;
}
.new-post-modal.hidde,
.new-post-section.hidde{
  opacity: 0;
  pointer-events: none;
}
.new-post-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 25;
  background: rgba(100, 100, 100, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  
}
.modal-container {
  background: var(--whiteColor);
  width: 50%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 0.5rem;
}
.modal-close {
  color: var(--titleColor);
  padding: 1rem;
  width: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  max-height: 10%;
  cursor: pointer;
}
.modal-close:hover{
  color: var(--brandColor);
  transform: translateY(2px) scale(1.1);
}
.modal-header {
  height: 10%;
  display: flex;
  justify-content: space-evenly;
}
.modal-header-icon {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(179, 179, 179, 0.1);
  border-radius:5px
}
.modal-header-icon i {
  font-size:1.2rem;
}
.modal-header-icon:hover{
  cursor: pointer;
  color: var(--brandColor);
  transform: translateY(2px) scale(1.05);
}
.modal-post-area {
  border: 1px solid var(--mainColor);
  outline-color: var(--mainColor);
  padding: 1rem;
  font-size: 1rem;
  resize: none;
  width: 100%;
  height: 65%;
}
.modal-send-post {
  background: var(--brandColor);
  color: var(--whiteColor);
  width: fit-content;
  padding: 1rem 2rem;
}
.modal-send-post:hover{
  background: #ff5517;
  cursor: pointer;
  transform: translateY(2px) scale(1.1);
}
.modal-post-area.active{
  height: 10%;
  margin: 16.5% 0;
}