@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-family: 'Open Sans', sans-serif;
    --brandColor: #FA4502;
    --mainColor: #DAE0E6;
    --titleColor: #242424;
    --SubTitleColor: #646464;
    --paragraphColor: #1A1A1B;
    --whiteColor: #FFFFFF;
    --iconColor: #2279D3;
}
.container{
    width: 60%;
    margin: auto;
}
.col-1{
    flex : 1;
}
.col-2{
    flex : 2;
}
.col-3{
    flex : 3;
}
.col-4{
    flex : 4;
}
.col-5{
    flex : 5;
}
.col-6{
    flex : 6;
}
body{
    background: var(--mainColor);
}